.container{
    .first-bg{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        padding: 65px;
        margin-bottom: 30px;
        background: #fff;
        background-image: url('../../../../static/sentimentCombineImage/netflix_stock_analysis_show_point.png');
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
        background-size: 1300px;
        // .row{
        //     display: flex;
        //     flex-wrap: wrap;
        //     margin-right: -15px;
        //     margin-left: -15px;

        //     .children{
        //         display: flex;
        //         flex-direction: row;
        //         .children-image{
        //              background-image: url('../../images/img/stock.png');
        //             background-repeat: no-repeat;
        //             height: 500px;
        //             padding-right: 491px;
        //         }
        //         .children-text{
        //             display: flex;
        //             flex-direction: column;
        //             text-align: left;
        //             h3{
        //                 font-size: 24px;
        //                 font-weight: 900;
        //                 margin-bottom: 10px;
        //             }
        //             p{
        //                 margin-bottom: 21px;
        //                 padding-right: 10px;
        //                 color: #282835;
        //             }
        //         }
        //     }
        // }
    }
    .second-bg{
        padding-right: 100px;
        background: #fff;
        border: none;
        margin-bottom: 30px;
        box-shadow: 0 0 20px rgba(115, 105, 215, 0.15);
        border-radius: 0;
        padding: 0;
    }

}
