.home-image-top {
    background-image: url('../../images/investing-at-market-high-1.jpg');
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    height: 500px;

    .home-first-child {
        position: absolute;
        top: 30%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
        border-radius: 5px;
    }

    .home-second-child {
        z-index: 2;
        position: absolute;
        top: 36%;
        left: 25%;
        color: #fff;
        width: 300px;
        text-align: left;
        animation: slideInFromLeft 1s forwards;
        opacity: 0;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.home-choose-fc{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}

h2{
    font-weight: 600;
    font-size: large;
}
